<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block head_title %}FIX.ME_BHT{% endblock %}
      TIO Microservices
    </title>
  </head>
  <body>
    <div class='container'>
        <div class='row'>
            <div class='col-6 mx-auto'>
              <h1 class="title">All Users</h1>
              <hr><br>
              <form action="/" method="POST">
		<div class="field">
		  <input
		    name="username" class="input"
		    type="text" placeholder="Enter a username" required>
		</div>
		<div class="field">
		  <input name="email" class="input"
			 type="email"
			 placeholder="Enter an email address" required>
		</div>
		<input type="submit" class="button is-primary is-fullwidth"
		       value="Submit">
              </form>
              <br>
              <hr>
              {% if users %}
              <ol>
		{% for user in users %}
		<li>{{user.username}}</li>
		{% endfor %}
              </ol>
              {% else %}
              <p>No users!</p>
              {% endif %}
            </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
